* {
    padding: 0;
    background-color: black;
    color: white;
}

.titulo {
    text-align: center;
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-size: 100px;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
    margin: 40px auto;
    justify-content: center;
}

.container-login input,
.container-login button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.container-login button:hover {
    background-color: white;
    color: black;
}

.titulo-login {
    font-size: 30px;
}